<%- include  header.ejs %>
<main>
        <h2>Add Recipe</h2>
        <% if(status === 'success'){ %>
          <div>Your book was added successfully.</div>
          <% } else if (status === 'error'){ %>
            <div>There was a problem adding that book. Please check form for errors.</div>
            <% } %>
            
        <form action="/add/submit" method="POST">
          <label for="name">Recipe Name</label>
          <br>
          <input type="text" name="name"></input>
          <br>
          <label for="preptime">Preperation Time</label>
          <br>
          <input type="text" name="preptime"></input>
          <br>
          <label for="cuisine">Cuisine</label>
          <br>
          <input type="text" name="cuisine"></input>
          <br>
          <label for="type">Type</label>
          <br>
          <input type="text" name=type></input>
          <br>
          <label for="ingredeints">Ingredients</label>
          <br>
          <textarea rows="5" name="ingredients"></textarea>
          <br>
          <label for="method">Method</label>
          <br>
          <textarea rows="10" name="method"></textarea>
          <br>
          <button type="submit" name="submit">Add</button>
        </form>
      
    
</main>
<%- include  footer.ejs %>