<%- include  header.ejs %>
<main>
    <body class="detail-container" />
    <ul>
        <li>
            <h1>Turkish Pizza</h1>
            </li>
        <li>
            <img class="detail.img" src="turkishpizza.jpg"/> 
        </li>
        <li>
            <h2>Total Time: 30 mins</h2>
        </li>
        <li>
            <h2>Category:</h2>
        </li>
        <li>
            <h2>Feeds:</h2>
        </li>
    </ul>
    <div>
        <ul>
            <h2>Ingredients:</h2>
            <li>500g pack bread mix</li>
            <li>1 tsp olive oil, plus a little extra for the dough</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
            <li>2 medium onions, chopped</li>
        </ul>
    </div>
</body>
</main>
<%- include  footer.ejs %>