<%- include  header.ejs %>
<main class="app-container">
    <ul class="menu-container">
        <li>
              
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
          
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
          
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
        <li>
                        
            <img src="turkishpizza.jpg"/>
            <div>
            <h2>Turkish Pizza</h2>
            <h4>Preperation Time: 10 mins</h4>
             <h4>Cuisine: Turkish</h4>
            </div>
        </li>
    </ul>
    
</main>
<%- include  footer.ejs %>

